ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:white;
}
.space{
    flex: 1 1 auto;
}
ul{
    display: flex;
}
mat-form-field,textarea{
    width: 100%;
}
mat-spinner{
    margin: auto;
}
div{
    margin-left: 30%;
}
#search{
    padding: 4px;
}
mat-card{
    width: 20%;
    top: 10px;
    left: -20px;
    margin: auto;
    box-shadow: antiquewhite 4px 2px 1 px;
} 