<mat-card>
  <mat-spinner *ngIf="isloading"></mat-spinner>
  <form [formGroup]='form' (submit)="onAddPerson()" *ngIf="!isloading"> 
    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput type="text" formControlName="fullName">
      <mat-error *ngIf="form.get('fullName').invalid">Please Eneter Valid a Name</mat-error>
    </mat-form-field>
    <mat-form-field  appearance="outline">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" >
      <mat-error *ngIf="form.get('phNumber').invalid">Please Eneter a Valid City</mat-error>
    </mat-form-field>
    <mat-form-field  appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phNumber" >
      <mat-error *ngIf="form.get('phNumber').invalid">Please Eneter a Valid Phone Number</mat-error>
    </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput  formControlName="email">
        <mat-error *ngIf="form.get('email').invalid">Please Eneter a Valid Email Address</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline"> 
        <mat-label>Enter your password</mat-label>
        <input  matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button id="b1"mat-raised-button color="primary"type="submit">Create Person</button>
  </form>
  </mat-card>